# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dev directories
node_modules
dist
dist-ssr

# Hosting
/.firebase
**.cache

# Secrets
serviceAccountKey.json
serviceAccountKey2.json
publicKey.json
data*.json
.firebase/hosting.cHVibGlj.cache
